@model IEnumerable<transtrack.Models.Statement>
@{
    ViewBag.Title = "EmployeePortal";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}

<table class="rec_act_table">
    <tr>
        <th colspan="3" bgcolor="#00B5E2">Recent Activity</th>
    </tr>
    <tr>
        <th>Merchant</th>
        <th>Charge</th>
        <th>Date </th>
    </tr>
    
    @foreach (var item in Model.Take(4))
    {
        <tr>
            <td>@item.Store</td>
            <td>@item.Amount.ToString("C")</td>
            <td>@item.Date.ToShortDateString()</td>
        </tr>
    }
    
</table>

<table class="exp_percent portal_component">
    <tr>
        <th bgcolor="#00B5E2">Expenditure Percentage</th>
    </tr>
    <tr>
        <td>
            <canvas id="barChart" width="480" value="team"></canvas>
        </td>
    </tr>
</table>

<input value = "individual" id="page" type="hidden"/>

<table class="top_spenders portal_component">
    <tr>
        <th bgcolor="#00B5E2">Top Categories</th>
    </tr>
    <tr>
        <td id="donut_chart_container" >
            <canvas id="donutChart"></canvas>
        </td>
    </tr>
</table>